codigo-fluxo-node-red.json
[
    {
        "id": "4dd35d3f50923f52",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e8286b46338e917",
        "type": "mqtt in",
        "z": "4dd35d3f50923f52",
        "name": "SensorUmidade",
        "topic": "SensorUmidade",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "377d0c1363520e8d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "e03fb9e0cfe778e9"
            ]
        ]
    },
    {
        "id": "e03fb9e0cfe778e9",
        "type": "function",
        "z": "4dd35d3f50923f52",
        "name": "Ler Sensor",
        "func": "// Recebe a mensagem do sensor\nvar umidade = parseInt(msg.payload); // Converte a carga útil para um número\n\n// Controle do relé\nif (umidade <= 60) {\n    msg.payload = {\n        umidade: umidade + \"%\", // Adiciona o símbolo de porcentagem\n        status: \"Bomba Ligada irrigando\", // Mensagem para irrigar\n    };\n} else {\n    msg.payload = {\n        umidade: umidade + \"%\", // Adiciona o símbolo de porcentagem\n        status: \"Bomba desligada parando irrigação\", // Mensagem para parar\n    };\n}\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 100,
        "wires": [
            [
                "9cbff203b6a1c9bf",
                "3450f20530c2491f"
            ]
        ]
    },
    {
        "id": "17b89b175ff27304",
        "type": "debug",
        "z": "4dd35d3f50923f52",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "9cbff203b6a1c9bf",
        "type": "mqtt out",
        "z": "4dd35d3f50923f52",
        "name": "Relé",
        "topic": "ControleRelé",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3566496366b8eb83",
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "3450f20530c2491f",
        "type": "delay",
        "z": "4dd35d3f50923f52",
        "name": "Limita para 1 mensagem a cada 5s",
        "pauseType": "queue",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "17b89b175ff27304"
            ]
        ]
    },
    {
        "id": "377d0c1363520e8d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "SensorUmidade",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "Conectado ao Broker",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3566496366b8eb83",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]